<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823125447051-va5v3fan07k01bksh9r2tc3r5mmifjp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823125447051-va5v3fan07k01bksh9r2tc3r5mmifjp5</string>
	<key>API_KEY</key>
	<string>AIzaSyAkzmRjcn_D76YERgabM5HYlZZ7xTrMS4A</string>
	<key>GCM_SENDER_ID</key>
	<string>823125447051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoffsilva.SwiftUIAdvancedHandBook</string>
	<key>PROJECT_ID</key>
	<string>designcodesam-e8f0c</string>
	<key>STORAGE_BUCKET</key>
	<string>designcodesam-e8f0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823125447051:ios:02ee95ec78966fb83b5f8e</string>
</dict>
</plist>